In [1]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

import tensorflow as tf

In [2]:
import pandas as pd

In [3]:
model = tf.keras.models.load_model("kitchenware_classifier_model")

In [4]:
model.count_params

In [5]:


df_test = pd.read_csv('test.csv', dtype={'Id': str})
df_test['filename'] = 'images/' + df_test['Id'] + '.jpg'
df_test.head()

     Id         filename
0  0678  images/0678.jpg
1  3962  images/3962.jpg
2  9271  images/9271.jpg
3  5133  images/5133.jpg
4  8842  images/8842.jpg

In [6]:
# from tensorflow.keras.applications.densenet import preprocess_input

In [7]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [8]:


test_datagen = ImageDataGenerator()

test_generator = test_datagen.flow_from_dataframe(
    df_test,
    x_col='filename',
    class_mode='input',
    target_size=(300, 300),
    batch_size=32,
    shuffle=False
)

Found 3808 validated image filenames.

In [9]:


classes = ['cup', 'fork', 'glass', 'knife', 'plate', 'spoon']

In [10]:


y_pred = model.predict(test_generator)

119/119 [==============================] - 508s 4s/step

In [11]:
y_pred

array([[0.12956414, 0.12956326, 0.12956327, 0.12956329, 0.12956454,
        0.3521814 ],
       [0.12956253, 0.12956251, 0.12956251, 0.35218742, 0.12956251,
        0.12956251],
       [0.12956291, 0.35218394, 0.1295629 , 0.1295629 , 0.12956415,
        0.12956332],
       ...,
       [0.12956254, 0.12956253, 0.12956253, 0.12956253, 0.12956256,
        0.3521873 ],
       [0.12956257, 0.35218674, 0.12956257, 0.12956257, 0.12956275,
        0.1295627 ],
       [0.1295625 , 0.1295625 , 0.1295625 , 0.1295625 , 0.12956251,
        0.35218737]], dtype=float32)

In [12]:
import numpy as np

In [13]:


classes = np.array(['cup', 'fork', 'glass', 'knife', 'plate', 'spoon'])
classes

array(['cup', 'fork', 'glass', 'knife', 'plate', 'spoon'], dtype='<U5')

In [14]:


predictions = classes[y_pred.argmax(axis=1)]

In [15]:


df_submission = pd.DataFrame()
df_submission['filename'] = test_generator.filenames

In [16]:



df_submission['label'] = predictions

In [17]:
df_submission

             filename  label
0     images/0678.jpg  spoon
1     images/3962.jpg  knife
2     images/9271.jpg   fork
3     images/5133.jpg  plate
4     images/8842.jpg   fork
...               ...    ...
3803  images/7626.jpg  plate
3804  images/2052.jpg    cup
3805  images/8827.jpg  spoon
3806  images/2299.jpg   fork
3807  images/2212.jpg  spoon

[3808 rows x 2 columns]

In [18]:

df_submission['Id'] = df_submission.filename.str[len('images/'):-4]

del df_submission['filename']

In [19]:
df_submission[['Id', 'label']].to_csv('submission.csv', index=False)